<div class="viewAll">
  <button mat-raised-button color="accent" [routerLink]="['/']">Back</button>
  <table mat-table [dataSource]="todos">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let todo">
        <a routerLink="/detail/{{ todo.id }}">{{ todo.name }}</a>
      </td>
    </ng-container>
    <!--- Difficulty Column -->
    <ng-container matColumnDef="difficulty">
      <th mat-header-cell *matHeaderCellDef>Difficulty</th>
      <td mat-cell *matCellDef="let todo">{{ todo.difficulty }}</td>
    </ng-container>
    <!--- Created Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let todo">
        {{ todo.created | date : "medium" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
