<div>
  <input id="new-todo" #todoName placeholder="Add Todo Item..."  maxlength="50"/>
  <textarea id="todo-details" #todoDetails placeholder="Add details..." required maxlength="200" rows="1" cols="25">
  </textarea>
  <button
    type="button"
    class="add-button"
    (click)="add(todoName.value, todoDetails.value); todoName.value = ''"
  >
    Add
  </button>
</div>
<ul>
  <li class="todo-item" *ngFor="let todos of todos">
    <a routerLink="/detail/{{ todos.id }}" >{{ todos.name }}</a>
    <button
      type="button"
      class="delete"
      title="delete todo"
      (click)="delete(todos)"
    >
      x
    </button>
  </li>
</ul>
