<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Todo</mat-label>
      <input id="new-todo" #todoName matInput placeholder="Ex. Wash dishes" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Details</mat-label>
      <textarea
        id="todo-details"
        #todoDetails
        matInput
        placeholder="Ex. Soak pans in hot water..."
      ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select
        [(value)]="selected"
        required
        placeholder="Select a Difficulty"
        ><mat-option value="1">Mild </mat-option
        ><mat-option value="2">Spicy</mat-option
        ><mat-option value="3">Inferno</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select [(value)]="selectedUser" required placeholder="User Id"
        ><mat-option value="1">1 </mat-option
        ><mat-option value="2">2</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="button"
      class="add-button"
      (click)="
        add(todoName.value, todoDetails.value, dateConvert, selected, selectedUser);
        todoName.value = '';
        todoDetails.value = '';
        selected = 0;
        selectedUser = 0;
      "
    >
      Add
    </button>
    {{selectedUser}}
  </form>
</div>
