<mat-card class="card">
  <div class="details" *ngIf="todo">
    <mat-card-header>
      <h2>{{ todo.name | uppercase }}</h2>
    </mat-card-header>
    <mat-card-content>
      <p>id: {{ todo.id }}</p>
      <p>{{ todo.details }}</p>
      <p>Is Completed: {{ todo.isComplete }}</p>
      <p>Created: {{ todo.created | date : "medium" }}</p>
      <p>Difficulty: {{ todo.difficulty }}</p>
      <p>Time Elapsed: {{ timeElapsed }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        button
        mat-raised-button
        color="warn"
        type="button"
        class="delete"
        title="delete todo"
        (click)="delete(todo)"
        (click)="goBack()"
      >
        Delete Todo
      </button>
      <button mat-raised-button color="accent" type="button" (click)="goBack()">
        Go Back
      </button>
    </mat-card-actions>
  </div>
</mat-card>
<!-- <button (click)="calc()"></button> -->

<!-- <div>
  <h2>Current Time</h2>
  <p>{{ convertCurrentDate }}</p>
  <h2>More time</h2>
  <p>{{ timeElapsed }}</p>
</div> -->
