<mat-card class="card">
  <div class="details" *ngIf="todo">
    <mat-card-header>
      <h2>{{ todo.name | uppercase }}</h2>
     
    </mat-card-header>
    <mat-card-content>
      <p>Details: {{ todo.details }}</p>
      <p>Is Completed: {{ todo.isComplete }}</p>
      <p>Created: {{ todo.created | date : "short" }}</p>
      <p>Difficulty: {{ todo.difficulty }}</p>
      <p>Time Elapsed: {{ timeElapsed }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        button
        mat-raised-button
        color="warn"
        type="button"
        class="delete"
        title="delete todo"
        routerLink="/view"
        (click)="delete(todo)"
      >
        Delete
      </button>
      <button
        button
        mat-raised-button
        color="primary"
        type="button"
        class="edit"
        title="edit todo"
        routerLink="/edit/{{ todo.id }}"
      >
        Edit
      </button>
      <button mat-raised-button color="accent" type="button" (click)="goBack()">
        Go Back
      </button>
    </mat-card-actions>
  </div>
</mat-card>
