<mat-card class="card">
  <div class="details" *ngIf="user">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ user.userName }}</mat-card-title>
      <mat-card-subtitle>Level:</mat-card-subtitle>
      <!-- <mat-card-subtitle>Exp:</mat-card-subtitle> -->
    </mat-card-header>
    <br />
    <mat-card-content>
      <div *ngFor="let todo of user.todoItems">
        <a routerLink="/detail/{{ todo.id }}">{{ todo.name }}</a>
      </div>
    </mat-card-content>
  </div>
</mat-card>
